 @import "tailwindcss"; 


@keyframes slide {
  0% { transform: translateX(0); }
  25% { transform: translateX(-100%); }
  50% { transform: translateX(-200%); }
  75% { transform: translateX(-300%); }
  100% { transform: translateX(-400%); }
}

.animate-slide {
  display: flex;
  animation: slide 15s linear infinite;
}

@keyframes text-color-change {
  0% { color: #facc15; }
  25% { color: #f472b6; }
  50% { color: #60a5fa; }
  75% { color: #34d399; }
  100% { color: #facc15; }
}

.animate-text-color {
  animation: text-color-change 5s ease infinite;
} 




.animate-gradient {
  background-size: 200% 200%;
}



















 